<html>
	<head>
		<title>PED Landscape</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
	</head>
	<style>
		.container.main { margin-top: 7.0em; }
	</style>
	<body>
		
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item">Projects</div>
			</div>
			<a href="/" class="item">Home</a>
			<a href="/projects/new" class="item">New Project</a>
		</div>
		
