<%- include("./partials/header.ejs") %>

<div class="ui main text container segment">
	<div class="ui header center align">
		New Project	
		<form class="ui form" action="/projects" method="POST">
			
			<div class="ui field">
				<label>Title</label>
				<input type="text" name="project[projectTitle]" placeholder="projectTitle">
			</div>
			
			<div class="field">
				<label>Client</label>
				<input type="text" name="project[client]" placeholder="client">
			</div>
			
			<div class="field">
				<label>Start Date</label>
				<input type="date" name="project[startDate]" placeholder="startDate">
			</div>
			
			<div class="field">
				<label>Description</label>
				<textarea name="project[description]" placeholder="description"></textarea>
			</div>
			
			<input class="ui button" type="submit">
			
		</form>			
	</div>
</div>

<%- include("./partials/footer.ejs") %>